section.author(itemprop='author')
  .details(itemscope='', itemtype='http://schema.org/Person')
    .row
      .col.col-4
        img(itemprop='image', src='/assets/img/blog-author.jpg', alt='{{site.name}}')
      .col.col-8
        p.def Author
        h3.name
          a(itemprop='name', href='http://twitter.com/#{twitter_username}', target="_blank") #{username}
        p.desc #{user_description}
        a.email(itemprop='email', href='mailto:#{email}') #{email}
        br
        br
        a.email(href='#{donate_link}', target="_blank") Send me a cup of coffee.
