meta(charset='utf-8')
meta(http-equiv='X-UA-Compatible', content='IE=edge')
meta(name='viewport', content='width=device-width, initial-scale=1')
title #{ title }
meta(name='description', content='#{description}')
link(rel='author', href='https://plus.google.com/+113375357859779943201?rel=author')
meta(name='twitter:card', content='summary_large_image')
meta(name='twitter:site', content='@celsom3')
meta(name='twitter:title', content='#{title}')
meta(name='twitter:description', content='#{description}')
meta(property='#{url}/assets/img/blog-image.png', content='#{url}/assets/img/blog-image.png')


meta(itemprop='name', content='#{username}')
meta(itemprop='description', content='#{description}')
meta(itemprop='image', content='#{url}/assets/img/blog-image.png')

link(rel='shortcut icon', href='#{url}/assets/img/icons/favicon.ico', type='image/x-icon')
link(rel='apple-touch-icon', href='/assets/img/icons/apple-touch-icon.png')
link(rel='apple-touch-icon', sizes='57x57', href='/assets/img/icons/apple-touch-icon-57x57.png')
link(rel='apple-touch-icon', sizes='72x72', href='/assets/img/icons/apple-touch-icon-72x72.png')
link(rel='apple-touch-icon', sizes='114x114', href='/assets/img/icons/apple-touch-icon-114x114.png')
link(rel='apple-touch-icon', sizes='144x144', href='/assets/img/icons/apple-touch-icon-144x144.png')
link(rel='apple-touch-icon', sizes='60x60', href='/assets/img/icons/apple-touch-icon-60x60.png')
link(rel='apple-touch-icon', sizes='120x120', href='/assets/img/icons/apple-touch-icon-120x120.png')
link(rel='apple-touch-icon', sizes='76x76', href='/assets/img/icons/apple-touch-icon-76x76.png')
link(rel='apple-touch-icon', sizes='152x152', href='/assets/img/icons/apple-touch-icon-152x152.png')
link(rel='apple-touch-icon', sizes='180x180', href='/assets/img/icons/apple-touch-icon-180x180.png')
link(rel='icon', type='image/png', href='/assets/img/icons/android-chrome-192x192.png', sizes='192x192')
meta(name='msapplication-TileColor', content='#da532c')
meta(name='msapplication-TileImage', content='#{url}/assets/img/icons/mstile-144x144.png')
meta(name='application-name', content='#{title} Blog')
meta(name='msapplication-TileColor', content='#0562DC')
meta(name='msapplication-square70x70logo', content='#{url}/assets/img/icons/smalltile.png')
meta(name='msapplication-square150x150logo', content='#{url}/assets/img/icons/mediumtile.png')
meta(name='msapplication-wide310x150logo', content='#{url}/assets/img/icons/widetile.png')
meta(name='msapplication-square310x310logo', content='#{url}/assets/img/icons/largetile.png')
meta(name='theme-color', content='#0562DC')


link(rel='stylesheet', href='/assets/css/main.css')
link(rel='canonical', href='#{url}')
link(rel='alternate', type='application/rss+xml', title='', href='#{url}/feed.xml')

!= partial("meta-tags")
