header.header-post(role='banner')
	div
		div
			if date
				time.date(itemprop='datePublished', datetime='#{date}') #{month} #{day}, #{year}
			h1.post-title(itemprop='name') #{title}
			p.subtitle(itemprop='description') #{ description }
