meta(charset='utf-8')
meta(http-equiv='X-UA-Compatible', content='IE=edge')
meta(name='viewport', content='width=device-width, initial-scale=1')
title #{ title }


meta(itemprop='name', content='#{username}')
meta(itemprop='description', content='#{description}')
meta(itemprop='image', content='assets/img/blog-image.png')

link(rel='apple-touch-icon', sizes='180x180', href='/apple-touch-icon.png')
link(rel='icon', type='image/png', href='/favicon-32x32.png', sizes='32x32')
link(rel='icon', type='image/png', href='/favicon-16x16.png', sizes='16x16')
link(rel='manifest', href='/manifest.json')
link(rel='mask-icon', href='/safari-pinned-tab.svg', color='#0bc128')
meta(name='theme-color', content='#201f1f')


link(href="https://fonts.googleapis.com/css?family=Arvo|Open+Sans", rel="stylesheet")

link(rel='stylesheet', href='assets/css/nouislider.css')
link(rel='stylesheet', href='assets/css/animate.min.css')
link(rel='stylesheet', href='assets/css/main.css')
link(rel='canonical', href='#{url}')
link(rel='alternate', type='application/rss+xml', title='', href='#{url}/feed.xml')

!= partial("meta-tags")
