meta(property='og:title', content='#{title}')
meta(property='og:image', content='#{og_img}')
meta(property='og:type', content='article')
meta(property='og:url', content='#{url}/posts/#{current.source}')
meta(property='og:site_name', content='#{username}')
meta(property='og:description', content="#{description}")

meta(name='msapplication-TileColor', content='#da532c')
meta(name='msapplication-TileImage', content='#{url}/assets/img/icons/mstile-144x144.png')
meta(name='application-name', content='#{title} Blog')
meta(name='msapplication-TileColor', content='#0562DC')
meta(name='msapplication-square70x70logo', content='#{url}/assets/img/icons/smalltile.png')
meta(name='msapplication-square150x150logo', content='#{url}/assets/img/icons/mediumtile.png')
meta(name='msapplication-wide310x150logo', content='#{url}/assets/img/icons/widetile.png')
meta(name='msapplication-square310x310logo', content='#{url}/assets/img/icons/largetile.png')
meta(name='theme-color', content='#0562DC')

meta(name='description', content='#{description}')
link(rel='author', href='http://twitter.com/#{twitter_username}')
meta(name='twitter:card', content='summary_large_image')
meta(name='twitter:site', content='@celsom3')
meta(name='twitter:title', content='#{title}')
meta(name='twitter:description', content='#{description}')
meta(property='twitter:image', content='#{url}/assets/img/blog-image.png')
