//- [
//-   for posts, slug in public.posts._data
//-     {
//-       "title"    : "#{title}",
//-       "category" : "#{ categories }",
//-       "tags"     : "#{ tags }",
//-       "url"      : "#{ url }/#{ slug }",
//-       "date"     : "#{ date }"
//-     },
//- ]
