doctype html
head
	!= partial("../_partial/blog-head")
body
	!= partial('../_partial/header-default')
	!= partial('../_partial/header-post')

	.container
		.row
			.col.col-12(style="margin-top:20px;")
				if date
					time.date(itemprop='datePublished', datetime='#{date}') #{month} #{day}, #{year}
		.row
			.col.col-12
				section.post(itemscope, itemtype="http://schema.org/BlogPosting", itemprop="articleBody")
					article#scroll.post-content(role="article")
						!= yield

					!= partial("../_partial/share")
					!= partial("../_partial/author")
					!= partial("../_partial/comments")

	!= partial("../_partial/blog-footer")

		script#dsq-count-scr(src='//#{disqus_username}.disqus.com/count.js', async='')
		if img
			style.
				.header-post{
					background: url('#{img}');
					background-repeat: none;
					background-position: center;
					background-size: cover;
				}
		!= partial("../_partial/analytics")
